<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mpga.Gochiusearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <Mpga.Gochiusearch.Properties.Settings>
      <setting name="Website" serializeAs="String">
        <value>niconico</value>
      </setting>
      <setting name="SearchLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AutoPlay" serializeAs="String">
        <value>False</value>
      </setting>
    </Mpga.Gochiusearch.Properties.Settings>
  </userSettings>
</configuration>
